
body {
  background: #607EAA;
  color: #FFF;
  font-family: helvetica, arial, sans-serif;
  text-align: center;
  margin: 0;
}

h1 {
	color: #3a241d;
	text-align: center;
}

.container {
	/* background-color: #eee; */
	width: 35%;
	position: absolute;
	height: 100%;
	padding: 10px;
  left: 0px;
  border-right: 1px solid #fff;
  box-sizing: border-box;
  overflow: scroll;
}

.plant-holder {
	position: relative;
	height: 10%;
	left: -10px;
}

.plant-holder2 {
	position: relative;
	height: inherit;
  left: -10px;
}

.plant {
	position: absolute;
	max-width: 100%;
	z-index: 2;
  left: 0px;
}

.wrapper {
  border : 1px solid #fff;
  border-radius: 5px;
  height: 87%;
  position: absolute;
  width: 95%;
  margin: auto;
  left: 0px;
  right: 0px;
}

.layout {
  background-color: #E8F9FD;
  margin-left: 35%;
  height: 100%;
}

.small {
  width: 50%;
}

.smaller {
  width: 3rem;
}
